extends base.pug

block style 
  style 
    include ../../static/css/admin/regUser.css

block content 
  .container
    
    h3.name Admin name
    h1.title Registered User
    input#myInput.form-control(type='text' placeholder='Search..')
    table.table.table-dark.table-hover
      thead
        tr
          th  Name
          th  age 
          th  Phone Number 
          th  Gender 
          th  Email  
          th  Adhaar Card 
          th  Status
      tbody#myTable
        each user in data
          tr
            td=user.name
            td=user.age 
            td=user.phno 
            td=user.gender 
            td=user.email 
            td=user.aadhar 
            if(user.vaccine_status) 
              td(style={'color':'lightgreen', 'font-weight':'600', 'letter-spacing':'1.2px'}) Vaccinated 
            else if (user.appointment_date)
              td(style={'color':'yellow'}) Date appointed
            else if (user.vaccine_req)
              td(style={'color':'orange', 'font-weight':'600', 'letter-spacing':'1.2px'}) Requested
            else   
              td(style={'color':'#dfdfdf'}) Not Vaccinated
              
append script           
  script(src="/js/admin.js") 
