extends base.pug

block style 
  style 
    include ../../static/css/admin/vaccReq.css
block content 

  .container
    h3.name Admin 
    h1.title Vaccination Request
    input#myInput.form-control(type='text' placeholder='Search..')
    table.table.table-dark.table-hover
      thead
        tr
          th Name
          th Age 
          th  Phone Number 
          th  Gender 
          th  Email  
          th  Adhaar Card 
      tbody#myTable
        each user in data
          tr
            td=user.name
            td=user.age 
            td=user.phno 
            td=user.gender 
            td=user.email 
            td=user.aadhar  
            td.hover_btn
              .h_btn
                button.btn.btn-primary(type='button' data-toggle='modal' data-target='#accept' data-whatever=user.aadhar)
                  | Accept
              .h_btn
                a(href=`/admin/requested/decline?aadhar=${user.aadhar}`) 
                  button.btn.btn-danger  Decline
              #accept.modal.fade(style='color: rgb(25, 25, 83);')
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    .modal-header
                      h4.modal-title Schedule Date
                      button.close(type='button' data-dismiss='modal') &times;
                    form.modal-body(action="/admin/requested" method="POST")
                      input#aadhar_.form-control.input-sm(type='text' name="aadhar")
                      br
                      input#inputsm.form-control.input-sm(type='date' name="appointment_date")
                      br
                      button.btn.btn-primary(type='submit') Confirm Date
                    .modal-footer
                      button.btn.btn-secondary(type='button' data-dismiss='modal') Close
append script 
  script.
    $('#accept').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) 
    var recipient = button.data('whatever') 
    console.log(recipient)
    var modal = $(this)
    modal.find('#aadhar_').val(recipient)
    })
  script(src="/js/admin.js") 


