extends base.pug

block style 
  style 
    include ../../static/css/admin/vaccUser.css
block content 
  .container
    h3.name Admin name
    h1.title  Vaccinated User
    input#myInput.form-control(type='text' placeholder='Search..')
    table.table.table-dark.table-hover
      thead
        tr
          th Name
          th Age 
          th  Phone Number 
          th  Gender 
          th  Vaccinated Date  
          th  Adhaar Card 
      tbody#myTable
        each user in data
          tr
            td=user.name
            td=user.age 
            td=user.phno 
            td=user.gender 
            td=user.vaccinated_date
            td=user.aadhar 

append script         
  script(src="/js/admin.js") 

