extends base.pug
block style 
  style   
    include ../../static/css/admin/vaccination.css

block content
  .container
    h3.name Admin 
    h1.title Vaccination 
    input#myInput.form-control(type='text' placeholder='Search..')
    table.table.table-dark.table-hover
      thead
        tr
          th  Name
          th  Phone Number 
          th  Age 
          th  Gender 
          th  Appointment Date  
          th  Adhaar Card 
      tbody#myTable
        each user in data
          tr
            td=user.name 
            td=user.phno 
            td=user.age 
            td=user.gender 
            td=user.appointment_date.toLocaleString().split(",")[0] 
            td=user.aadhar 
            td.hover_btn
              .h_btn 
                button.btn.btn-primary(type='button' data-toggle='modal' data-target='#accept' data-whatever=user.aadhar)
                  | Vaccinate
              #accept.modal.fade(style='color: rgb(25, 25, 83);')
                .modal-dialog.modal-dialog-centered
                  .modal-content
                    .modal-header
                      h4.modal-title Vaccination Date
                      button.close(type='button' data-dismiss='modal') &times;
                    form.modal-body(action="/admin/vaccination" method="POST")
                      .box_form 
                        span Aadhar no :
                        input#aadhar_.form-control.input-sm(type='text' name="aadhar")
                      br
                      .box_form 
                        span Date :
                        input#inputsm.form-control.input-sm(type='text' name="date" )
                      br
                      button.btn.btn-primary(type='submit') Confirm 
                    .modal-footer
                      button.btn.btn-secondary(type='button' data-dismiss='modal') Close

append script 
  script.
    $('#accept').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) 
    var recipient = button.data('whatever') 
    console.log(recipient)
    var modal = $(this)
    modal.find('#aadhar_').val(recipient)
    })
    //- document.getElementById('inputsm') 
    $('#inputsm').val(new Date().toLocaleString().split(",")[0])
  script(src="/js/admin.js") 


