block style 
    style 
        include ../static/css/displayPincode.css

block content 
    .container 
        h1
        .box
            .header 
            each center in centers
                .displayBlock 
                    .center_flex 
                        .name 
                            span=center.name
                            span=center.address
                    .cont_data
                        each session in center.sessions
                            .vaccine
                                .date=session.date
                                .vacc_name=session.vaccine
                                .age Min Age : 
                                    span=session.min_age_limit
                                .avail 
                                    .center
                                        .d1
                                            .d1_name D1
                                            .d1_avail=session.available_capacity_dose1 
                                        .total=session.available_capacity_dose1+session.available_capacity_dose2
                                        .d2  
                                            .d2_name D2
                                            .d2_avail=session.available_capacity_dose2
           
                