block style 
style 
  include ../static/css/index.css
doctype html
html
  head
    title Wheel Box
    block scripts
    block style 
  body
    div#navbar 
      ul 
        li #[a(href = "/home") Home]
        li #[a(href = "/") About]
        li #[a(href = "/") FAQ]
        li #[a(href = "/contact") Contact Us]
        li #[a(href = "/user/login") User Login]
        li #[a(href = "/admin/login") Admin Login]

    block content   
      .box
        .head Last Updated   
          span=CR.lastupdatedtime 
        .cards 
          .card 
            .text Confirmed
            .value=CR.confirmed
          .card 
            .text Active
            .value=CR.active
          .card 
            .text Deaths
            .value=CR.deaths
          .card 
            .text Recovered
            .value=CR.recovered
          
        .head Today's Stats
        .cards 
          .card 
            .text Confirmed
            .value=CR.newconfirmed
          .card 
            .text Deaths
            .value=CR.newdeaths
          .card 
            .text Recovered
            .value=CR.newrecovered

        form(action="/fetchPincode", method="post") Search By PinCode 
          input#pincode(type="text", name="pincode") 
          input(type="date", name="date")
          button(type="submit") Search    
         


    footer#footer 
      |   Copyright © 2021 www.Co-Vaccine-Provider.com | All Rights Reserved.   
        
script(src="../static/js/index.js") 
       