doctype html
head
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
  link(rel="stylesheet", href="css/aos.css") 
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/design.css')

  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Covid Vaccine Provider


.container_home 
  .header 
    .logo 
      img(src='/images/logo4.gif' alt='image not uploaded')
    .head Covid Vaccine Provider

  nav.navbar.navbar-expand-lg.navbar-dark.nav_norm#navbar_top     
    a.navbar-brand(href='/') 
      img.nav_logo(src="/images/LOGO.svg", alt="LOGO")
    .collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/contactUs') Contact Us
        li.nav-item
          a.nav-link(href='/about') About Us
        li.nav-item
          a.nav-link(href='/faq') FAQ
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='#form') Login
        li.nav-item
          a.nav-link(href='/register') Register

  .carousel_center
    #demo.carousel.slide(data-ride='carousel')
      ul.carousel-indicators
        li.active(data-target='#demo' data-slide-to='0')
        li(data-target='#demo' data-slide-to='1')
        li(data-target='#demo' data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img(src='/images/covid-1.jpg' alt='Covid Guidelines' width='1470' height='500')
        .carousel-item
          img(src='/images/covid-4.png' alt='Get Vaccinated' width='1470' height='500')
        .carousel-item
          img(src='/images/covid-3.png' alt='Maintain Distance' width='1470' height='500')
      a.carousel-control-prev(href='#demo' data-slide='prev')
        span.carousel-control-prev-icon
      a.carousel-control-next(href='#demo' data-slide='next')
        span.carousel-control-next-icon

  .buster_list 
    a(href='/myth' data-aos="zoom-in" data-aos-duration="500")
      img.rounded-circle(src='/images/link1.gif' alt='error')
    a(href='/guide' data-aos="zoom-in" data-aos-duration="500")
      img.rounded-circle(src='/images/link2.gif' alt='error')
    a(href='/immunity' data-aos="zoom-in" data-aos-duration="500")
      img.rounded-circle(src='/images/link3.gif' alt='error')
    a(href='/stats' data-aos="zoom-in" data-aos-duration="500")
      img.rounded-circle(src='/images/link4.gif' alt='error')
  .partition#form .
  .forms 
    form.pincode_form(action="/fetchPincode", method="post" data-aos="fade-right") 
      h4 Search By PinCode 
      .form-group 
        label(for='pincode') pincode
        input.form-control#pincode(type="text", name="pincode" placeholder="Enter Pincode") 
      .form-group
        label(for='date') Date
        input.form-control(type="date", name="date")
      form_btn 
        button.btn.btn-primary(type="submit") Search 
    form.login_form(action='/login' method='POST' data-aos="fade-left")
      h4 Login
      .form-group
          label(for='email') Email
          input.form-control(type='email', name='email' placeholder='Email' )
      .form-group
          label(for='password') Password
          input.form-control(type='password', name='password')
      .form_btn
          button.btn.btn-primary(type='submit') Log-in  

  .partition .

  .video 
    .embed(data-aos="zoom-in")
      iframe(width='560' height='315' src='https://www.youtube.com/embed/xVu_I6WCsto?autoplay=0' allow='autoplay' title='YouTube video player' frameborder='0' allowfullscreen='')
  
  .covid_stats
    .stat_head Last Updated   
      span=CR.lastupdatedtime 
    .stat_cards 
      .stat_card 
        .text Confirmed
        .value.count=CR.confirmed
      .stat_card 
        .text Active
        .value.count=CR.active
      .stat_card 
        .text Deaths
        .value.count=CR.deaths
      .stat_card 
        .text Recovered
        .value.count=CR.recovered
    
    .covid_stats
      .stat_head_daily Today's Stats
      .stat_cards 
        .stat_card 
          .text Confirmed
          .value.count=CR.newconfirmed
        .stat_card 
          .text Deaths
          .value.count=CR.newdeaths
        .stat_card 
          .text Recovered
          .value.count=CR.newrecovered
    


    footer#footer 
      |   Copyright © 2021 www.Co-Vaccine-Provider.com | All Rights Reserved.   
        
script(src="js/aos.js") 
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
script(src="js/index.js") 