block style 
style 
  include ../static/css/index.css
doctype html
html
  head
    title Wheel Box
    block scripts
    block style 
  body
    div#navbar 
      ul 
        li #[a(href = "/home") Home]
        li #[a(href = "/") About]
        li #[a(href = "/") FAQ]
        li #[a(href = "/contact") Contact Us]
        li #[a(href = "/user/login") User Login]
        li #[a(href = "/admin/login") Admin Login]

    block content   
      .box
        .head Last Updated   
          span=CR.lastupdatedtime 
        .cards 
          .card 
            .text Confirmed
            .value=CR.confirmed
          .card 
            .text Active
            .value=CR.active
          .card 
            .text Deaths
            .value=CR.deaths
          .card 
            .text Recovered
            .value=CR.recovered
          
        
script(src="../static/js/index.js") 
       